@model MyMvc.Models.ModelsEnd.AdminAuthority
@section currentPageJs{
        @Scripts.Render("~/Scripts/commonPage.js")
        @Scripts.Render("~/Scripts/ContentScript/AdminAuthority.js")
}
<table id="dg" border="0" pagination="true" fit="true"
    data-options="
                singleSelect: true,
                toolbar: '#tb',
                onClickRow: onClickRow,
                remoteSort:false,
                multiSort:false">
    <thead>
        <tr>
            <th data-options="field:'ID',width:80,sortable:true">ID</th>
            <th data-options="field:'AdminModuleName',width:80,sortable:true">模块名称</th>
            <th data-options="field:'AdminAuthorityName',width:80,sortable:true">权限名称</th>
            <th data-options="field:'AdminAuthorityUrl',width:100,sortable:true">权限地址</th>
            <th data-options="field:'AdminAuthorityOrder',width:100,sortable:true">权限顺序</th>
        </tr>
    </thead>
</table>
<div id="tb" style="height: auto">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="addData()">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="editData()">修改</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="delData()">删除</a>
</div>
<div id="AdminAuthorityWin" class="easyui-window" title="权限信息" data-options="modal:true,closed:true,iconCls:'icon-save'"
    style="width: 400px; height: 300px; padding: 10px;">
    <div style="padding: 10px 0 10px 35px">
        @using (Ajax.BeginForm("CreateOrUpdate", "AdminAuthority",
            new AjaxOptions { OnSuccess = "success", OnFailure = "failure" },
            new { @id = "AdminAuthorityForm" }))
        {
           
            <table>
                <tr>
                    <td>权限名称:</td>
                    <td>
                        @Html.TextBoxFor(m => m.AdminAuthorityName, new { @name = "AdminAuthorityName" })
                    </td>
                </tr>
                <tr>
                    <td>权限地址：</td>
                    <td>
                        @Html.TextBoxFor(m => m.AdminAuthorityUrl, new { @name = "AdminAuthorityUrl" })
                    </td>
                </tr>
                <tr>
                    <td>对应的模块：</td>
                    <td>
                         @Html.DropDownList("AdminModuleID", String.Empty)
                    </td>
                </tr>
            </table>
        }
    </div>
    <div style="text-align: center; padding: 5px">
        <a href="javascript:void(0)" data-options="iconCls:'icon-ok'" class="easyui-linkbutton" onclick="submitForm()">保存</a>
        <a href="javascript:void(0)" data-options="iconCls:'icon-reload'" class="easyui-linkbutton" onclick="clearForm()">清空</a>
    </div>
</div>


