@model MyMvc.Models.ModelsEnd.AdminUser
@section currentPageJs{
        @Scripts.Render("~/Scripts/commonPage.js")
        @Scripts.Render("~/Scripts/ContentScript/userManage.js")
}
<table id="dg" class="easyui-datagrid" border="0" pagination="true" fit="true"
    data-options="
                singleSelect: true,
                toolbar: '#tb',
                onClickRow: onClickRow,
                remoteSort:false,
                multiSort:false,
                url:'GetDataList'">
    <thead>
        <tr>
            <th data-options="field:'ID',width:80,sortable:true">ID</th>
            <th data-options="field:'RealName',width:80,sortable:true">姓名</th>
            <th data-options="field:'AdminName',width:100,sortable:true">登录名</th>
            <th data-options="field:'Telephone',width:100,sortable:true">电话</th>
            <th data-options="field:'QQ',width:100,sortable:true">QQ</th>
            <th data-options="field:'AdminType',width:80,sortable:true,formatter:formatter">管理员类型</th>
        </tr>
    </thead>
</table>
<div id="tb" style="height: auto">
 <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="addData()">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="editData()">修改</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="delData()">删除</a>
     <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="openAdminLog()">查看登录日志</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="deliverAuthority()">分配权限</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="readAuthority()">查看权限</a>
</div>
<div id="userWin" class="easyui-window" title="员工信息" data-options="modal:true,closed:true,iconCls:'icon-save'"
    style="width: 350px; height: 250px; padding: 10px;">
    <div style="padding: 10px 0 10px 35px">
        @using (Ajax.BeginForm("CreateOrUpdate", "Content",
            new AjaxOptions { OnSuccess = "success", OnFailure = "failure" },
            new { @id = "userForm"}))
        {
            <table>
                <tr>
                    <td>登录帐号:</td>
                    <td>
                        @Html.TextBoxFor(m => m.AdminName, new { @class = "required" })
                    </td>
                </tr>
                <tr>
                    <td>员工姓名：</td>
                    <td>
                        @Html.TextBoxFor(m => m.RealName, new { @class = "required" })
                    </td>
                </tr>
                <tr>
                    <td>管理员类型：</td>
                    <td>
                        @Html.DropDownListFor(m => m.AdminType, new[]{
                                new SelectListItem(){Text = "超级管理员",Value = "0", Selected = true },
                                new SelectListItem(){Text = "普通管理员",Value = "1" }},
                                new { @name = "AdminType", @class = "required" })
                    </td>
                </tr>
                <tr>
                    <td>手机号码：</td>
                    <td>
                        @Html.TextBoxFor(m => m.Telephone, new {@name="Telephone",@maxlength="11"})
                    </td>
                </tr>

                <tr>
                    <td>QQ号码：</td>
                    <td>
                        @Html.TextBoxFor(m => m.QQ, new { @class = "digits1" })
                    </td>
                </tr>
            </table>
        }
    </div>
    <div style="text-align: center; padding: 5px">
        <a href="javascript:void(0)" data-options="iconCls:'icon-ok'" class="easyui-linkbutton" onclick="submitForm()">保存</a>
        <a href="javascript:void(0)" data-options="iconCls:'icon-reload'" class="easyui-linkbutton" onclick="clearForm()">清空</a>
    </div>
</div>