<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title-应用程序后台内容页</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/layout/css")
    @Scripts.Render("~/bundles/content")
</head>
<body class="panel-noscroll">
     @RenderBody()
     @RenderSection("currentPageJs",false)
</body>
</html>
