<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 应用程序后台</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/layout/css")
    @Scripts.Render("~/bundles/layout")
</head>
<body class="easyui-layout">
    <div data-options="region:'north'" style="height: 35px">
        @Html.Partial("Top")
    </div>
    <div data-options="region:'west',split:true" title="导航菜单" style="width: 175px;">
        @Html.Partial("Menu")
    </div>
    <div id="body" data-options="region:'center',title:''">
        @RenderBody()
    </div>
    <div data-options="region:'south',split:true" style="height: 30px;">
        @Html.Partial("Bottom")
    </div>
    <div id="mm" class="easyui-menu" style="width: 150px;">
        <div id="mm-tabupdate">刷新</div>
        <div class="menu-sep"></div>
        <div id="mm-tabclose">关闭</div>
        <div id="mm-tabcloseall">全部关闭</div>
        <div id="mm-tabcloseother">除此之外全部关闭</div>
        <div class="menu-sep"></div>
        <div id="mm-tabcloseright">当前页右侧全部关闭</div>
        <div id="mm-tabcloseleft">当前页左侧全部关闭</div>
        <div class="menu-sep"></div>
        <div id="mm-exit">退出</div>
    </div>
</body>
</html>
