@model MyMvc.Models.Models.PagedPeoPle
@section currentPageJs{
        @Scripts.Render("~/Scripts/commonPage.js")
        @Scripts.Render("~/Scripts/ContentScript/People.js")
}
<table id="dg" class="easyui-datagrid" border="0" pagination="true" fit="true"
    data-options="
                singleSelect: true,
                toolbar: '#tb',
                onClickRow: onClickRow,
                remoteSort:false,
                multiSort:false,
                url: 'GetDataList'">
    <thead>
        <tr>
            <th data-options="field:'ID',width:80,sortable:true">ID</th>
            <th data-options="field:'Name',width:80,sortable:true">姓名</th>
            <th data-options="field:'Age',width:100,sortable:true">年龄</th>
            <th data-options="field:'Sex',width:100,sortable:true,formatter:formatter">性别</th>
        </tr>
    </thead>
</table>
<div id="tb" style="height: auto">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="addData()">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="editData()">修改</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="delData()">删除</a>
</div>
<div id="userWin" class="easyui-window" title="用户信息" data-options="modal:true,closed:true,iconCls:'icon-save'"
    style="width: 400px; height: 300px; padding: 10px;">
    <div style="padding: 10px 0 10px 35px">
        @using (Ajax.BeginForm("CreateOrUpdate", "PagedPeoPle",
            new AjaxOptions { OnSuccess = "success", OnFailure = "failure" },
            new { @id = "PagedPeoPleForm" }))
        {
            @Html.HiddenFor(m => m.RowVersion, new { @name="RowVersion"})
            <table>
                <tr>
                    <td>用户姓名:</td>
                    <td>
                        @Html.TextBoxFor(m => m.Name, new { @name = "Name" })
                    </td>
                </tr>
                <tr>
                    <td>用户年龄：</td>
                    <td>
                        @Html.DropDownListFor(m => m.Age, new[]{
                                new SelectListItem(){Text = "10",Value = "10", Selected = true },
                                new SelectListItem(){Text = "20",Value = "20" },
                                new SelectListItem(){Text = "30",Value = "30"}},
                                new { @name = "Age", @class = "required",@id="age" })
                    </td>
                </tr>
                <tr>
                    <td>性别：</td>
                    <td>
                      男：@Html.RadioButtonFor(m => m.Sex, "true", new {@name="Sex",@id="sex1",@checked = "checked"})
                      女：@Html.RadioButtonFor(m => m.Sex, "false", new {@name="Sex",@id="sex2" })
                    </td>
                </tr>
            </table>
            <div id="pagedDiv"></div>
        }
    </div>
    <div style="text-align: center; padding: 5px">
        <a href="javascript:void(0)" data-options="iconCls:'icon-ok'" class="easyui-linkbutton" onclick="submitForm()">保存</a>
        <a href="javascript:void(0)" data-options="iconCls:'icon-reload'" class="easyui-linkbutton" onclick="clearForm()">清空</a>
    </div>
</div>


